#productos{
    width: auto;
    line-height: 0.2rem;
     box-sizing: border-box;
     border: 2.9px solid #75634D;
     border-radius: 0.4rem;
}
 
 .imagenProducto{
      width: 11rem;
 }
 .card-body{
     pad: 1px;
 }
 #estiloButton{
    font-size: 12px;
    line-height: 0.8rem;
     width: au;
     color: black;
     background-color:#eee6dd;
     border-radius: 0.3rem;
     margin-bottom: 0.5px;
     padding: 3.5px;
     cursor: pointer;
     border: 2.9px solid #75634D;
     
 }