.contenedorItem {
   display: flex;
   justify-content:center;
}
.contenedor{
    width: 33rem;
    text-align: start;
    border: 1px solid #e3e1e1;
    margin: 2rem;
    border: 2.9px solid #403c37;
    border-radius: 0.4rem;
    font-family: Cambria, Cochin, Georgia;
}

.imgDetalle{
    width: 31vh;
}
.textoDetalles{
    text-align: start;
    padding-top: 20px;
    

}