.contadorEstilo{
    width: fit-content;
    margin: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    border-radius: 0.5rem;
       
}

.contadorButton{
    background-color: rgb(231, 218, 200);
    border: solid 0px #a99f93;
    border-radius: 0.4rem;
    margin: 4px;
    padding: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}
.contador{
    width: auto;
    margin: 3px;
    text-align: center;
    
}